.gpt3_whatgpt3 {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: var(--color-footer);

    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 32% 35%, rgba(43, 120, 163, 1) 0%, rgba(18, 18, 120, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 32% 35%, rgba(43, 120, 163, 1) 0%, rgba(18, 18, 120, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 32% 35%, rgba(43, 120, 163, 1) 0%, rgba(18, 18, 120, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 32% 35%, rgba(43, 120, 163, 1) 0%, rgba(18, 18, 120, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 32% 35%, rgba(43, 120, 163, 1) 0%, rgba(18, 18, 120, 1) 100%);

}

.gpt3_whatgpt3-feature {
    display: flex;
}

.gpt3_whatgpt3-feature {
    margin: 0;
}

.gpt3_whatgpt3-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 4rem 0 2rem;
}

.gpt3_whatgpt3-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    max-width: 520px;
    font-family: var(--font-family);
}

.gpt3_whatgpt3-heading p {
    font-size: 20px;
    /* justify-content: flex-end; */
    /* align-items: end; */
    /* text-align: start; */
    font-weight: 500;
    line-height: 25px;
    color: rgb(226, 128, 103);
    cursor: pointer;
    margin-left: 1rem;
}

.gpt3_whatgpt3-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    /* justify-content: space-evenly; */

    margin-top: 2rem;
    /* margin-right: 2rem; */

}

.gpt3_whatgpt3-container .gpt3_feature-container_feature {
    /* max-width: 700px; */
    flex: 1;
    margin: 1rem;
}

.gpt3_whatgpt3-feature .gpt3_feature-container_feature {
    flex: 1;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    max-width: 100%;
    /* line-height: 40px; */
}

.gpt3_whatgpt3-feature .gpt3_feature-container_feature-title {
    flex: 2;
    max-width: 180px;
    line-height: 30px;
    margin-right: 1rem;
}

.gpt3_feature-container_feature-text {
    flex: 2;
}

.gpt3_whatgpt3-feature .gpt3_feature-container_feature-title {
    max-width: 800px;
}



@media screen and (max-width:650px) {
    .gpt3_whatgpt3-feature .gpt3_feature-container_feature {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .gpt3_whatgpt3-heading {
        display: flex;
        flex-direction: column;
        align-items: start;
        /* line-height: 40px; */
        /* margin-top: 1rem; */
    }

    .gpt3_whatgpt3-heading h1 {
        line-height: 35px;
    }

    .gpt3_whatgpt3-heading p {
        margin-top: 1rem;
    }


}

@media screen and (max-width:550px) {
    .gpt3_whatgpt3-heading {
        display: flex;
        flex-direction: column;
        align-items: start;
        /* line-height: 40px; */
        /* margin-top: 1rem; */
    }

    .gpt3_whatgpt3-heading h1 {
        line-height: 35px;
    }

    .gpt3_whatgpt3-heading p {
        margin-top: 1rem;
    }
}