.gpt3_features {
    margin: 6rem;
    /* margin-left: 3rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex: 1; */
    gap: 20px;
}

.gpt3_features-heading h1 {
    background: linear-gradient(to left, rgb(248, 163, 106), rgb(166, 93, 218));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gpt3_features-heading {
    width: 40%;

}

.gpt3_features-container {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.gpt3_features-container .gpt3_feature-container_feature {
    display: flex;
    max-width: 100%;
    justify-content: stretch;
    align-items: center;
    gap: 20px;
    margin-bottom: 2rem;
}


.gpt3_features-container .gpt3_feature-container_feature-title {
    max-width: 200px;
}

@media screen and (max-width:990px) {

    .gpt3_features {
        margin: 2rem;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .gpt3_features-heading {
        width: 100%;
        justify-content: start;
        align-items: start;
        margin-bottom: 2rem;
    }

}

@media screen and (max-width:990px) {

    .gpt3_features {
        margin: 2rem;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .gpt3_features-heading {
        width: 100%;
        justify-content: start;
        align-items: start;
        margin-bottom: 2rem;
    }

    .gpt3_features-container .gpt3_feature-container_feature-title {
        max-width: 150px;
    }

}


@media screen and (max-width:550px) {

    .gpt3_features {
        margin: 2rem;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .gpt3_features-heading {
        width: 100%;
        justify-content: start;
        align-items: start;
        margin-bottom: 2rem;
    }

    .gpt3_features-container .gpt3_feature-container_feature-title {
        max-width: 100px;
    }
}